{% extends 'base.html.twig' %}

{% block body %}
	<section class="">
		<nav class="navbar navbar-expand-lg custom-navbar">
			<div class="container-fluid">
				<a
					class="navbar-brand" href="{{ '/' }}">
					{# <img src="{{ asset('images/banner/logo.jpg') }}" alt="logo du site Savourez la santé" width="84" height="84"> #}
					<h1 class="ms-5 mb-0">Savourez la santé</h1>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center ms-5" id="navbarNav">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Saison</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Thème</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
					<button class="btn btn-outline me-5 " href="{{ '/login' }}">Se connecter<i class="bi bi-box-arrow-in-right ms-2"></i>
					</button>
				</div>
			</div>
		</nav>
	</section>
{% endblock %}
