{% extends 'base.html.twig' %}

{% block title %}
	Savourez la santé
{% endblock %}


{% block body %}
	<section class="models">
		{% include 'Frontend/Home/_banner.html.twig' %}
	</section>
{% endblock %}
