.custom-navbar {
    background-color: #F5F4F1;
}

.custom-navbar .navbar-brand h1 {
    color: #FFB534;
}

.custom-navbar .nav-link {
    color: black;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #FFB534;
    color: black;
}
