@import "~bootstrap/scss/bootstrap";
// Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons";

@import "btnOutline";
@import "radius";
@import "banner";
@import "login";
@import "register";
@import "separator";
@import "card";
@import "indexAdmin";
@import "margin";
@import "img";
@import "form";
@import "scrollToTop";
@import "recetteComplete";
@import "footer";



body {
    background-color: #F5F4F1;   
}

body, html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

.header-content {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}


h1 {
    font-size: 24px;
    color: #FFB534;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.orange {
    color: #FFB534;
}






